cypher/
**/gen
leveldb

### Antlr generated ###
src/main/**/*.tokens
src/main/**/*.interp
src/main/java/com/wjwong93/polystore/PostgreSQLLexer.java
src/main/java/com/wjwong93/polystore/PostgreSQLParser.java
src/main/java/com/wjwong93/polystore/PostgreSQLParserBaseListener.java
src/main/java/com/wjwong93/polystore/PostgreSQLParserBaseVisitor.java
src/main/java/com/wjwong93/polystore/PostgreSQLParserListener.java
src/main/java/com/wjwong93/polystore/PostgreSQLParserVisitor.java

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Gradle ###
.gradle
build